<div>
  <div class="content">
    <h2>About</h2>
  <p>HouseLook is aimed at helping both property owners and tenants to advertise and rent houses respectively.</p>
    <h3>Features</h3>
  </div>
    <div class="content">
      <h4>Advertise and manage your house</h4>
      <p> If you're a property owner, create an account and post details of your house. An icon for creating the house will be displayed
        as soon as you  successfully login. To add room information about your house, tap the enquire button,
        which will take you the page from where you will add sample room images and room details.
        The description information entered during the creation of images will be displayed on the
        sample images album at the top, therefore, make it short and clear e.g kitchen. Whenever users book your
        property, the user information will be displayed in the booking list. You can personally call the users
        to confirm payments with them. You can also delete the bookings if they are not confirmed.</p>
      </div>
    <div class="content">
      <h4>Locate the house on map!</h4>
      <p>Using the house location button, get the exact location of the house for your convenience.
        Ensure the house is not imaginary!
      </p>
    </div>
    <div class="content">
      <h4>Book a room!</h4>
      On the Rooms page, peruse the images of the room categories offered in the house. You could also
      filter the rooms based on your preferences. If satisfied, book a room in the table of rooms panel.
      This is a temporary process to secure you a room. Call the enquiry number on the bookings page to confirm
      your bookings as soon as possible.
    </div>

</div>
